<h2>Second House of Possessions</h2>


<div class="row" style="padding: 20px;">

    <div class="col-md-7 ">
        <div style="color: black; background-color: #737373; padding: 15px"; >
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Email Id</th>
                    <th>Mobile no</th>
                    <th>Eduction</th>
                    <th>Gender</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="val in usertable">
                    <td>{{val.name}}</td>
                    <td>{{val.email}}</td>
                    <td>{{val.mobile}}</td>
                    <td>{{val.x}}</td>
                    <td>{{val.gender}}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm" ng-click="editdata($index);">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="deletedata($index);">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-5 bg-primary">

        <div class="row" style="padding-top: 20px">
            <div class="col-md-10">
                <p>1. Click on the button to entry data into table.</p>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#mymodal">Entry</button>
            </div>
        </div>
        <hr>
        <h3>Other Operation</h3>
        <div class="row" style="padding-top: 10px">
            <div class="col-md-10">
                <p>2. Enter data using push function</p>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#mymodal">Push</button>
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col-md-10">
                <p>3. Remove data using pop function.</p>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger btn-sm" ng-click="popaction()">Pop</button>
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col-md-10">
                <p>4. Enter data using unshift function</p>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#unshiftmodal" >Unshift</button>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;padding-bottom: 20px">
            <div class="col-md-10">
                <p>5. Enter data using shift function</p>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger btn-sm" ng-click="shiftaction($index)">Shift</button>
            </div>
        </div>


    </div>

</div>

<div class="modal fade" id="mymodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: blueviolet">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Second House of Possessions</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="myform">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="text-align: center">Fullname
                            <span style="color: red; font-size: 20px">*</span>
                        </label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="text" name="nm" class="form-control" placeholder="name" ng-model="user.name" required>
                            <div ng-messages="myform.nm.$error" ng-if="myform.nm.$touched" style="color:maroon">
                                <p ng-message="required">Your name is required.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="text-align: center">Email Id
                            <span style="color: red; font-size: 20px">*</span>
                        </label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="email" name="eml" class="form-control" placeholder="email" ng-model="user.email" required>
                            <div ng-messages="myform.eml.$error" ng-if="myform.eml.$touched" style="color:maroon">
                                <p ng-message="required">Your name is required.</p>
                                <p ng-message="email">Plese enter a valid email</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="text-align: center">Mobile no
                            <span style="color: red; font-size: 20px">*</span>
                        </label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="number" name="mbl" class="form-control" placeholder="mobile no" ng-model="user.mobile" ng-minlength="10"
                                   ng-maxlength="13" required>
                            <div ng-messages="myform.mbl.$error" ng-if="myform.mbl.$touched" style="color:maroon">
                                <p ng-message="required">Your name is required.</p>
                                <p ng-message="minlength">Your mobile number is too short.</p>
                                <p ng-message="maxlength">Your mobile number is too long.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="text-align: center">Education
                            <span style="color: red; font-size: 20px">*</span>
                        </label>
                        <div class="col-sm-9" style="height: 45px">
                            <select class="col-sm-12 form-control" name="qlf" ng-model="user.x" ng-options="x for x in education" required></select>
                            <div ng-messages="myform.qlf.$error" ng-if="myform.qlf.$touched" style="color:maroon">
                                <p ng-message="required">Select your Qualificafion.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-3 control-label" style="text-align: center">Gender</label>
                        <div class="col-sm-9" style="height: 45px">
                            <label class="radio-inline">
                                <input type="radio"  ng-model="user.gender" value="male">Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio"  ng-model="user.gender" value="female"> Female
                            </label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-warning" ng-if="editg" ng-click="updatedata($index);">Update </button>
                <button type="submit" ng-disabled="(myform.nm.$invalid) || (myform.eml.$invalid)|| (myform.mbl.$invalid) || (myform.qlf.$invalid) "
                        class="btn btn-sm btn-success" ng-if="!editg" ng-click="savedata(myform);">Save </button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" ng-click="cls()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="popmodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: blueviolet">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Second House of Possessions</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="myform">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="text-align: center">Fullname </label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="text" name="nm" class="form-control" placeholder="name" ng-model="user.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label" style="text-align: center">Email Id </label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="email" name="eml" class="form-control" id="email" placeholder="email" ng-model="user.email">
                            <div ng-messages="myform.eml.$error" ng-if="myform.eml.$touched" style="color:maroon">
                                <p ng-message="required">Your name is required.</p>
                                <p ng-message="email">Plese enter a valid email</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="mobile" class="col-sm-3 control-label" style="text-align: center">Mobile no</label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="number" name="mbl" class="form-control" placeholder="mobile no" ng-model="user.mobile" ng-minlength="10" ng-maxlength="13">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="text-align: center">Education</label>
                        <div class="col-sm-9" style="height: 45px">
                            <select class="col-sm-12 form-control" name="qlf" ng-model="user.x" ng-options="x for x in education"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-3 control-label" style="text-align: center">Gender</label>
                        <div class="col-sm-9" style="height: 45px">
                            <label class="radio-inline">
                                <input type="radio"  ng-model="user.gender" value="male">Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio"  ng-model="user.gender" value="female"> Female
                            </label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">

                <button type="submit" class="btn btn-sm btn-success" ng-click="popdata($index);">Pop </button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" ng-click="cls()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="unshiftmodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: blueviolet">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Second House of Possessions</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="myform">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="text-align: center">Fullname
                            <span style="color: red; font-size: 20px">*</span>
                        </label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="text" name="nm" class="form-control" placeholder="name" ng-model="user.name" required>
                            <div ng-messages="myform.nm.$error" ng-if="myform.nm.$touched" style="color:maroon">
                                <p ng-message="required">Your name is required.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label" style="text-align: center">Email Id
                            <span style="color: red; font-size: 20px">*</span>
                        </label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="email" name="eml" class="form-control" id="email" placeholder="email" ng-model="user.email" required>
                            <div ng-messages="myform.eml.$error" ng-if="myform.eml.$touched" style="color:maroon">
                                <p ng-message="required">Your name is required.</p>
                                <p ng-message="email">Plese enter a valid email</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="mobile" class="col-sm-3 control-label" style="text-align: center">Mobile no
                            <span style="color: red; font-size: 20px">*</span>
                        </label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="number" name="mbl" class="form-control" id="mobile" placeholder="mobile no" ng-model="user.mobile" ng-minlength="10"
                                   ng-maxlength="13" required>
                            <div ng-messages="myform.mbl.$error" ng-if="myform.mbl.$touched" style="color:maroon">
                                <p ng-message="required">Your name is required.</p>
                                <p ng-message="minlength">Your mobile number is too short.</p>
                                <p ng-message="maxlength">Your mobile number is too long.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="edu" class="col-sm-3 control-label" style="text-align: center">Education
                            <span style="color: red; font-size: 20px">*</span>
                        </label>
                        <div class="col-sm-9" style="height: 45px">
                            <select class="col-sm-12 form-control" name="qlf" ng-model="user.x" ng-options="x for x in education" required></select>
                            <div ng-messages="myform.qlf.$error" ng-if="myform.qlf.$touched" style="color:maroon">
                                <p ng-message="required">Select your Qualificafion.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-3 control-label" style="text-align: center">Gender</label>
                        <div class="col-sm-9" style="height: 45px">
                            <label class="radio-inline">
                                <input type="radio"  ng-model="user.gender" value="male">Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio"  ng-model="user.gender" value="female"> Female
                            </label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-disabled="(myform.nm.$invalid) || (myform.eml.$invalid)|| (myform.mbl.$invalid) || (myform.qlf.$invalid) "
                        class="btn btn-sm btn-success" ng-click="unshiftdata();">Unshift </button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" ng-click="cls()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="shiftmodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: blueviolet">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Second House of Possessions</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="myform">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="text-align: center">Fullname</label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="text" name="nm" class="form-control" placeholder="name" ng-model="user.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="text-align: center">Email Id </label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="email" name="eml" class="form-control" placeholder="email" ng-model="user.email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="text-align: center">Mobile no</label>
                        <div class="col-sm-9" style="height: 45px">
                            <input type="number" name="mbl" class="form-control" placeholder="mobile no" ng-model="user.mobile" ng-minlength="10" ng-maxlength="13">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="edu" class="col-sm-3 control-label" style="text-align: center">Education</label>
                        <div class="col-sm-9" style="height: 45px">
                            <select class="col-sm-12 form-control" name="qlf" ng-model="user.x" id="edu" ng-options="x for x in education"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-3 control-label" style="text-align: center">Gender</label>
                        <div class="col-sm-9" style="height: 45px">
                            <label class="radio-inline">
                                <input type="radio"  ng-model="user.gender" value="male">Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio"  ng-model="user.gender" value="female"> Female
                            </label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-success" ng-click="shiftdata();">Shift </button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" ng-click="cls()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
